### Rewrite Rules Added by CyberPanel Rewrite Rule Generator

# RewriteEngine On
# RewriteCond %{HTTPS}  !=on
# RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

### End CyberPanel Generated Rules.

cat: /home/projectathena.ddns.net/public_html/.htaccess: No such file or directory
