@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

area:hover{
    color:chartreuse
}

h1{
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}