@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

h3{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

button {
  background-color: white;
  border: 1px solid transparent;
  color: #00c8ff8d;
  font-weight: bold;
  line-height: normal;
  border-radius: 5px; 
  height: 32px;
  text-align: center;
  letter-spacing: 0.14286em; 
  padding-bottom: 5%;
  cursor: pointer;
  transition: all 0.5s;
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:hover {
  background-color: #000000;
  color: white; 
  padding-right: 24px;
  padding-left:8px;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
  color: white;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

input {
  width: 200px;
  height: 30px
}

div#contenedor{
  position: absolute;
  background-color: #00c8ff8d;
  color: white;
  height: 100%;
  width: 100%;
  padding-top: 10%;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#busqueda{
  width: 60%;
  margin-right: 20px;
}