@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html{
  background-color: rgba(202,247,250,0.514);
}


h1{
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
  }

  h2{
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
    font-size: 20px;
    text-align: center;
  }
  
  p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    margin-top: 20px;
  }


  main, aside {
    display: inline-block;
}

main {
    width: 65%;
    margin-left: 3%;
}

aside {
    margin-right: 10%;
    width: 35%;
    position: absolute;
    padding-top: 10%;
}  

aside img{
    width: 80%;
    padding-right: 5%;
}
  section{
      padding-top: 10%;
      width: 90%;
      height: 100%;
      margin-bottom: 30px;
}
  .form .text-input, .form .textarea, .form .button {
    outline: none;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0; 
}
  
.form .text-input, .form .textarea {
    font: inherit;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    background: transparent;
    outline: none;
    color: black; 
}

.form .text-input::placeholder, .form .textarea::placeholder {
    color: black; 
 }


.form .button {
    font: inherit;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14286em; 
    padding-bottom: 10px;
}

.form .button:hover, .form .button:focus, .form .button:active {
    color: white;
    background: black; 
}

.form .button:active {
    position: relative;
    top: 1px;
    left: 1px; 
}

.form {
max-width: 50em;
margin: 0 auto;
padding: 1em 2em;
box-sizing: border-box;
overflow: hidden; 
}

.form .field {
    position: relative;
    width: 100%;
    margin-bottom: 1.5em;
    float: left; 
}

.form .field:last-child {
    float: right;
    width: auto; 
}

.form .textarea {
    max-width: 100%; 
}
  
  