@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html{
  background-color: bisque;
}


h1{
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
    font-size: 30px;
    text-align: center;
  }
  
  p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    margin-top: 20px;
  }


  main, aside {
    display: inline-block;
}

main {
    width: 65%;
    margin-left: 3%;
}

aside {
    margin-right: 10%;
    width: 35%;
    position: absolute;
    padding-top: 10%;
}  

aside img{
    width: 80%;
    padding-right: 5%;
}
  section{
      padding-top: 10%;
      width: 90%;
      height: 100%;
  }
  